# Exclude all subdirectories by default
**/*

# But include these folders
!specs/
!src/

# Do not exclude any root-level files
!/*

# Optionally include .env if you want it in the image
#!.env
