*.pyc
.cache/*
**/.cache/*
.idea/*
**/CoverageReports/**
**/Report/**
**/REST-assured/**
*.embedding.json
.DS_Store
**/.DS_Store
logs/*

**/*.log

# 忽略所有 cache 相关文件
**/cache.db*
**/cache.db-shm
**/cache.db-wal

# 忽略所有包含 result 的 json 文件
**/*result*.json

.env

